@import "catppuccin-macchiato.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

window#waybar {
  border-bottom: 2px solid @teal;
  background-color: @base;
  color: @text;
}

window#waybar > box {
  margin-bottom: 2px;
}

tooltip {
  background-color: @base;
  border: 2px solid @teal;
}

tooltip label {
  color: @text;
}

#custom-appmenu {
  padding: 0 5px;
  background-color: @teal;
  color: @base;
}

#workspaces {
  background-color: @surface0;
  padding: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: @overlay0;
}

#workspaces button.focused {
  color: @teal;
  background: linear-gradient(90deg, @surface0 0%, @overlay0 30%, @overlay0 70%, @surface0 100%);
}

#workspaces button.urgent {
  color: @maroon;
}

#window {
  padding: 0 5px;
}

#clock {
  background-color: @teal;
  color: @base;
  padding: 0 5px;
}

#custom-power-shutdown {
  padding: 0 5px;
  background-color: @teal;
  color: @base;
}

#custom-power-reboot,
#custom-power-sleep,
#custom-power-logout,
#custom-power-lock
{
  padding: 0 5px;
  background-color: @crust;
}

#power-profiles-daemon {
  padding: 0 5px;
  background-color: @surface0;
}

#temperature,
#cpu,
#memory
{
  padding: 0 5px;
  background-color: @crust;
}

#wireplumber {
  padding: 0 5px;
  background-color: @surface0;
}

#wireplumber.muted {
  color: @overlay0;
}

#idle_inhibitor {
  padding: 0 5px;
  background-color: @surface0;
}

#idle_inhibitor.activated {
  color: @teal;
}

#tray {
  padding: 0 5px;
}
